<div class="">
  <div
    class="inset-0 max-w-7xl mx-auto items-center justify-center gap-5 md:mt-20 xxlsm:mt-10"
  >
    <div class="flex flex-col gap-15 md:gap-1 justify-center items-center">
      <div
        class="w-10 h-10 rounded-full bg-light-glow shadow-ring bg-[#ffffd0]"
      ></div>
      <h1 class="text-white">Give Info for Person POST</h1>
      <form class="" [formGroup]="personForm" (ngSubmit)="createPerson()">
        <div class="flex flex-row gap-15 md:gap-1 justify-center items-center">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              [formControl]="nameFormControl"
              placeholder="Ex. 14"
            />
            <mat-error
              *ngIf="
                nameFormControl.hasError('pattern') &&
                !nameFormControl.hasError('required')
              "
            >
              Name invalid
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-margin">
            <mat-label>Age</mat-label>
            <input
              type="text"
              matInput
              [formControl]="ageFormControl"
              placeholder="Ex. 14"
            />
            <mat-error
              *ngIf="
                ageFormControl.hasError('pattern') &&
                !ageFormControl.hasError('required')
              "
            >
              Age invalid: only accepts integer (up to 3 digits)
            </mat-error>
            <mat-error *ngIf="ageFormControl.hasError('required')">
              Age is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-15 md:gap-1 justify-center items-center">
          <mat-card-footer>
            <button
              [disabled]="!nameFormControl.valid || !ageFormControl.valid"
              type="submit"
              class="bg-[#673ab7] disabled:opacity-25 2k:w-[1000px] md:w-[200px] w-[150px] 2k:h-[150px] md:h-[50px] h-[45px] m-[10px] rounded-lg text-white font-extrabold 2k:text-5xl md:text-2xl text-lg cursor-pointer"
            >
              Create Person
            </button>
          </mat-card-footer>
        </div>
      </form>
      {{ error }}
    </div>
  </div>
</div>
